/* Donation form disabled state */
.DonationForm-disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* Special Name Form Styling */
.SpecialNameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.SpecialNameForm input, .SpecialNameForm button {
  width: 80%; 
  margin-bottom: 10px; 
}

.SpecialNameForm label {
  font-size: 14px; 
}

.SpecialNameForm button {
  background-color: #556B2F; 
}

.SpecialNameForm button:hover {
  background-color: #6B8E23; 
}