/* Donation form disabled state */
.DonationForm-disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* Special Name Form Styling */
.SpecialNameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.SpecialNameForm input, .SpecialNameForm button {
  width: 80%; /* Match width for aesthetic consistency */
  margin-bottom: 10px; /* Space between inputs */
}

.SpecialNameForm label {
  font-size: 14px; /* Smaller label font size */
}

.SpecialNameForm button {
  background-color: #556B2F; /* Dark Olive Green for contrast */
}

.SpecialNameForm button:hover {
  background-color: #6B8E23; /* Olive Drab on hover */
}
