/* ResetPassword.css */

.reset-password-container {
    margin: 50px auto;
    padding: 20px;
    width: 600px;
    background-color: #1f6f78;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .h2-reset-password {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .input-field-reset-password {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .submit-button-reset-password {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #55afb0;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .submit-button-reset-password:hover {
    background-color: #135951;
  }
  
  .signin-link-reset-password p {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .signin-link-reset-password a {
    color: #76f3f7;
    text-decoration: underline;
  }
  
  .signin-link-reset-password a:hover {
    text-decoration: none;
  }
  