* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav-customer {
  background-color: #062925;
  width: 100%;
  color: darkcyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav-customer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav-customer li {
  flex: 1;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-customer a, .nav-customer li {
  color: inherit;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
  font-size: 22px;
  font-weight: bold;
}

.nav-customer .nav-item-title .site-title-customer {
  font-size: 3rem;
}

.nav-customer .nav-item-dropdown, .nav-customer .nav-item-button {
  position: relative;
  display: inline-block;
}

.nav-customer .nav-item-dropdown:hover .sub-menu-customer,
.nav-customer .nav-item-dropdown:focus-within .sub-menu-customer {
  display: block;
}

.nav-customer li.active, .nav-customer li:hover {
  background-color: #004445;
  height: 100%;
}

.sub-menu-customer {
  display: none;
  position: absolute;
  background-color: #2c786c;
  border-radius: 5px;
  padding: 10px;
  top: 100%;
  left: 0;
  right: 0;
  color: rgb(12, 55, 32);
  z-index: 1000;
}

.nav-customer li.nav-item-button button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
}
