/* General styles */
.enclosure-report-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #1f6f78;
  margin-top: 50px;
}

.enclosure-report-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px; 
  width: 100%; 
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px; 
}

.input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px; 
}


.submit-button {
  width: 20%; 
  padding: 10px;
  font-size: 16px;
  background-color: #004445;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; 
}

.submit-button:hover {
  background-color: #062925;
}

.query-data {
  margin-top: 20px; 
}

.query-data h3 {
  text-align: center;
}

.query-table {
  width: 80%; 
  max-width: 500px; 
  margin: 20px auto 0; 
  border-collapse: collapse; 
  background-color: #f1f1f1; 
  border-radius: 5px;
  overflow: hidden;
}

.query-table th, .query-table td {
  padding: 10px; 
  border: 1px solid #ccc; 
}

.query-table th {
  background-color: #004445; 
  color: white; 
  font-weight: bold; 
}

.query-table tr:nth-child(even) {
  background-color: #e6f7f8; 
}

.query-table tr:nth-child(odd) {
  background-color: white; 
}
